*, ::after, ::before {
    box-sizing: border-box;
}

.d-inline-block {
    margin-left: 25px;
}

.jumbotron {
    padding: 8rem 8rem; 
    padding-bottom: 0.2rem;
    margin-bottom: 0.2rem;
    background-color: rgb(230,221,220);
    border-radius: 0.3rem;
}

.jumbotron img {
    margin-left: 120px;
}

.display-4 {
    font-size: 5rem;
    font-weight: 350;
    line-height: 1.2;
    font-family: 'Nunito', sans-serif;
    padding-top: 5rem;
}

.subtitulo {
    text-align: left;
    font-family: 'Nunito', sans-serif;
    font-size: 17pt;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.mt-5 {
    font-family: 'Nunito', sans-serif;
    font-size: smaller;
    color: gray;
}

.pl-4, .px-4 {
    padding-left: 0!important;
}

.datos {
    font-family: 'Nunito', sans-serif;
    font-size: larger;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 50px;
}

.form-control {
    display: flex;
    width: 500px;
    height: 3.5rem;
    font-size: 1rem;
    font-weight: 400;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0.8rem;
}

.btn {
    border-radius: 2rem;
}

.términos {
    margin-top: 175pt;
}

.border-0 {
    border-radius: 0.5rem!important;
}

.pl-4, .px-4 {
    padding-left: 20rem!important;
}

.col {
    padding-top: 2rem;
    font-family: 'Nunito', sans-serif;
    font-size:x-large;
    font-weight: bolder;
}

.card{
    align-items: center;
    border: 0px;
    margin-top: 70px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
}

.card-body p{
    font-family: 'Nunito',sans-serif;
    font-size: smaller;
    color: grey;
    font-weight: normal;
}

.card-body h2{
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

.p{
    font-family: 'Nunito', sans-serif;
    width: bold;
}

.featurette-heading {
    font-family: 'Nunito', sans-serif;
}

.lead {
    font-family: 'Nunito', sans-serif;
    text-align: justify;
    margin-left: 80px;
    margin-right: 50px;
    margin-top: 90px;
    margin-bottom: 40px;
}


.footer {
    background-color: #f5f5f5;
    margin-top: 15px;
}

.bi {
    margin-left: 10px;
    margin-right: 10px;
}

.img-responsive {
    width: 100%;
    max-width: 80rem;
    height: auto;
}